body, .header{
	background-color: #1E1E1E;
	color: white;
}

/* Header */
.header{
	margin: 0 15px 0 -15px;
    padding: 10px 0 10px 0;
}

/* Footer */
.footer{
	padding: 0 0 10px 0;	
}

.pointer{
	cursor: pointer;
}

.icon{
	font-size: 20px !important;
}