body, .header{
	background-color: #1E1E1E;
	color: white;
}

/* Header */
.header{
    padding-top: 10px !important;
	padding-bottom: 10px !important;
	/*padding-left: 0px !important;
	padding-right: 0px !important;*/
}

/* Footer */
.footer{
    padding-top: 10px !important;	
}

.pointer{
	cursor: pointer;
}

.icon{
	font-size: 20px !important;
}

.P0{
	padding: 0;
}

.contactIcon{
    padding-right: 50px;
    padding-bottom: 15px;
}

.contenedorLR
{
    padding-left  : 0px !important;
    padding-right : 0px !important;
    
    margin-left   : 0px !important;
    margin-right  : 0px !important;
    
    max-width: 100%!important;
}